<h1> List of cats </h1>
<mat-table [dataSource]="dataSource"  class ="mat-elevation-z8">

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
    <mat-cell *matCellDef="let cat"> {{cat.gender}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let cat"> {{cat.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lenght">
    <mat-header-cell *matHeaderCellDef> Length </mat-header-cell>
    <mat-cell  *matCellDef="let cat"> {{cat.lenght}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="height">
    <mat-header-cell  *matHeaderCellDef> Height </mat-header-cell>
    <mat-cell  *matCellDef="let cat"> {{cat.height}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="color">
    <mat-header-cell  *matHeaderCellDef> Color </mat-header-cell>
    <mat-cell  *matCellDef="let cat"> {{cat.color}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
    <mat-cell *matCellDef="let cat"> {{cat.age}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let cat"> {{cat.weight}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
